// Colors
$aqua-blue: #06c9e0;
$black: #000;
$charcoal-grey: #303442;
$light-teal: #bdede3;
$perrywinkle: #877cee;
$topaz: #1abfd3;
$very-light-purple: #f1b1f9;
$white: #fff;

// Fonts
$font-primary: 'Karla', helvetica, sans-serif;
$font-secondary: 'Rubik', helvetica, sans-serif;
$font-tertiary: 'Covered By Your Grace', cursive;
